<html>
    <head>
        <title>
        
        </title>
    </head>
    <body>
        <form  method="POST">
            username <input type="text" name="username">
            email<input type="text" name="email">
            <input type="submit">
       </form>
        
    </body>
</html>