<html>
    <head>
        <title></title>
    </head>
    <body>
<form method="POST" action="/res">
    username<input type="text" name="username">
    password<input type="password" name="password">
    email<input type="email" name="email">
    <input type="submit">
</form>

    </body>
</html>